.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

data/processed/*
!data/processed/.gitkeep

tokenizer/sp_model/*
!tokenizer/sp_model/.gitkeep

checkpoints/pretrain/*
!checkpoints/pretrain/.gitkeep

checkpoints/finetune/*
!checkpoints/finetune/.gitkeep
